langchain==0.1.16
langchain-core==0.1.45
langchain-community==0.0.32
numpy<2
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
python-dotenv
requests
boto3
flask
flask-cors
gTTS
google-api-python-client
